<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>童书管理</title>
	</head>
	<body>
		<h2>书籍购买-添加</h2>
		<div class="">
		   <div>店名：</div>
		   <div>
		   		<select>
		   			<option value="html">html</option>
		   		</select>
		   </div>
		   <div>是否套装：</div>
		   <div>
		   		<input type="radio" value="0" checked="checked">是
		   		<input type="radio" value="1">否
		   </div>
		   <div>盒编号：</div>
		   <div>
		   		<input type="text">
		   </div>
		   <div>书名：</div>
		   <div>
		   		<textarea rows="3" cols="20"></textarea>
		   </div>
		   <div>本数：</div>
		   <div>
		   		<select >
		   			<option value="html">html</option>
		   		</select>
		   </div>
		   <div>分类（三级联动）：</div>
		   <div>
		   		<select >
		   			<option value="html">html</option>
		   		</select>
		   </div>
		    <div>适用年龄：</div>
		   <div>
		   		<select >
		   			<option value="html">html</option>
		   		</select>
		   </div>
		   <div>原价格：</div>
		   <div>
		   		<input type="text" value="">
		   </div>
		   <div>现价格：</div>
		   <div>
		   		<input type="text" value="">
		   </div>
		  
		   <div>图书简介</div>
		   <div>
		   		<textarea rows="" cols=""></textarea>
		   </div>
		  
		   <div>是否上架：</div>
		   <div>
		   		<input type="radio" value="0">上架
		   		<input type="radio" value="1">下架
		   </div>
		  
		   <div>轮播图：</div>
		   <div>
		   		<img alt="点击上传图片" src="">
		   </div>
		   <div>详情图片：</div>
		   <div>
		   		<img alt="" src="">
		   </div>
		</div>
	</body>
</html>