<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatiorg//DTD Mapper 3.0//EN" "http://mybatiorg/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.books.mapper.ShopsMapper">

     <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyx.books.model.Shops">
        <id column="shop_id" property="shopId" />
        <result column="u_id" property="uId" />
        <result column="shop_name" property="shopName" />
        <result column="shop_address" property="shopAddress" />
        <result column="shop_phone" property="shopPhone" />
        <result column="shop_state" property="shopState" />
        <result column="shop_signing" property="shopSigning" />
        <result column="bank_code" property="bankCode" />
        <result column="shop_logo" property="shopLogo" />
        <result column="authentication_method" property="authenticationMethod" />
        <result column="authentication_id" property="authenticationId" />
        <result column="shop_setup_time" property="shopSetupTime" />
        <result column="shop_update_time" property="shopUpdateTime" />
        <result column="Column_12" property="column12" />
    </resultMap>
	<sql id="Base_Column_List">
      shop_id,u_id,shop_name,shop_address,shop_phone,shop_state
      ,shop_signing,bank_code,shop_logo,authentication_method
      ,authentication_id
      ,shop_setup_time
      ,shop_update_time 
      ,Column_12
    </sql>
     <!-- 获取UUID -->
	<select id="getUUID" resultType="String">
		select md5(UUID());
	</select>
	<!-- 添加店铺信息 -->
	<insert id="addShops" parameterType="com.zyx.books.model.Shops" >
		INSERT INTO book_share_shops 
		(<include refid="Base_Column_List"/>)
		VALUES 
		(#{shopId,jdbcType=VARCHAR}
		,#{uId,jdbcType=VARCHAR}
		,#{shopName,jdbcType=VARCHAR}
		,#{shopAddress,jdbcType=VARCHAR}
		,#{shopPhone,jdbcType=VARCHAR}
		,#{shopState,jdbcType=INTEGER}
		,#{shopSigning,jdbcType=INTEGER}
		,#{bankCode,jdbcType=VARCHAR}
		,#{shopLogo,jdbcType=VARCHAR}
		,#{authenticationMethod,jdbcType=VARCHAR}
		,#{authenticationId,jdbcType=VARCHAR}
		,#{shopSetupTime,jdbcType=VARCHAR}
		,#{shopUpdateTime,jdbcType=VARCHAR}
		,#{column12,jdbcType=VARCHAR}
		);
	</insert>
	
	<!-- <select id="selShops" resultMap="BaseResultMap">
	select * from book_share_shops WHERE 1=1;
	</select> -->
</mapper>
